<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
  	<div class="container-fluid navbar-container m-sm-5">
      <!-- Header -->
      <%- partial('_partial/header') %>

  		<div class="row">
  			<%- body %>
      </div>
      <% if (page.total > 1) { %>
    <nav class="page-nav">
        <%- paginator({prev_text: '<', next_text: '>'}) %>
    </nav>
<% } %>
  	</div>

    <div style="position: fixed;right: 1.6rem;top: 1.4rem;font-weight: lighter;font-size: 0.9rem;">
      <style> a {color: black;} a:hover{color:gray; text-decoration: none;} </style>
      <a href="https://cn.huzeqian.com" target="_self">中</a>
      </div>

    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>